/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: "Work Sans", sans-serif;
  }
  
  .parant {

    background-color: #eee;
  }
  .container{
    padding-left: 15;
    padding-right: 15;
    background-color: aqua;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    margin: auto ; 
  }